header {
    height: 55px;
    width: 100vw;
    padding: 0 30px;
    background-color: var(--background-color1);
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    color: rgb(126, 129, 127);
}

.icn {
    height: 30px;
}

.icon-btn {
    padding: 5px 10px;
    background-color: #ffffff;
    /* searchbar */
    border: none;
    border-radius: 5px 20px 20px 5px;
    cursor: pointer;
}

.menuicn,
.closemenuicn {
    cursor: pointer;
}

#closemenuicn,
#menuicn {
    display: none;
}

.searchbar,
.message,
.logosec {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.searchbar2 {
    display: none;
}

.custom-icon {
    color: rgb(192, 192, 192);
}

.logosec {
    gap: 60px;
}

.searchbar input {
    width: 250px;
    height: 35px;
    border-radius: 50px 50px 50px 50px;
    background-color: var(--background-color3);
    padding: 0 20px;
    font-size: 15px;
    outline: none;
    border: none;
}

.searchbtn {
    width: 50px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 50px 50px 0px;
    /* background-color: var(--secondary-color); */
    cursor: pointer;
}

.message {
    gap: 40px;
    position: relative;
    cursor: pointer;
}

.circle {
    height: 7px;
    width: 7px;
    position: absolute;
    background-color: #fa7bb4;
    border-radius: 50%;
    left: 19px;
    top: 8px;
}

.online {
    height: 12px;
    width: 12px;
    position: absolute;
    background-color: #67ff53;
    border-radius: 50%;
    right: 19px;
    top: 8px;
}

.dp,
.profileImage {
    height: 40px;
    width: 40px;
    background-color: #626262;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.dpicn {
    height: 42px;
}

/**************************************** HEADER************************************/


/**************************************** SIDE NAV BAR ************************************/

.main-container {
    display: flex;
    width: 100vw;
    position: relative;
    /* top: 70px; */
    top: 55px;
    z-index: 1;
}

.nav {
    min-height: 91vh;
    width: 250px;
    background-color: var(--background-color2);
    position: absolute;
    top: 0px;
    left: 00;
    /* box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 10px 8px 10px rgba(198, 189, 248, 0.825);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;
}

.navcontainer {
    height: calc(110vh - 70px);
    width: 250px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

.navcontainer::-webkit-scrollbar {
    display: none;
}

.navclose {
    width: 80px;
}

.nav-option {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 20px;
    transition: all 0.1s ease-in-out;
    color: #3f3939;
    font-size: 10px;
}

.nav-option:hover {
    border-left: 5px solid #a2a2a2;
    background-color: #dadada;
    cursor: pointer;
}

.nav-img {
    height: 30px;
}

.nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.option1 {
    /* border-left: 5px solid #a2a2a2; */
    color: #e7e5e5;
    background-color: var(--Border-color);
    cursor: pointer;
}

.option1:hover {
    border-left: 5px solid #747477af;
    background-color: var(--Border-color);
}

/**************************************** SIDE NAV BAR ************************************/



/**************************************** MAIN SECTION ************************************/
.main {
    height: calc(100vh - 70px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px 30px 30px 30px;
}

.main::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.main::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.main::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.main::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/**************************************** PROFILE SECTION************************************/
#profile-view {
    display: none;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.profile-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.small-username-container {
    display: inline-block;
    border-radius: 2rem;
    background-color: rgb(192, 194, 192);
}

.profile-image {
    height: 80px;
    width: 80px;
}

#userProfileViewImage {
    height: 75px;
    width: 75px;
    background-color: #626262;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.profile-bio {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    padding: 1.5rem;
    align-items: center;
    max-width: 250px;
    gap: 20px;
    word-wrap: break-word;
    border-radius: 2rem;
    border: rgb(126, 129, 127) 0.1rem solid;
}

.bio-header {
    border-bottom: 2px solid rgb(126, 129, 127);
}

.profile-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.follower-count,
.following-count,
.post-count {
    font-weight: 600;
    font-size: 2rem;
}

.follower-count:hover,
.following-count:hover {
    cursor: pointer;
}

.profile-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.edit-btn,
.follow-btn,
.message-btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    height: 38px;
    min-width: 111px;
    min-height: 38px;
    border: none;
    color: #fff;
    background-color: rgb(132, 132, 134);
    transition: background-color .17s ease, color .17s ease;
}

.edit-btn:hover,
.follow-btn:hover,
.message-btn:hover {
    color: #5c5656;
    background-color: rgb(200, 200, 204);
}

/**************************************** PROFILE SECTION************************************/






/**************************************** MAIN SECTION ************************************/