#profileContainer {
    text-align: center;
}

#avatarContainer .tick {
    display: none;
}


#avatarContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Two columns with equal width */
    grid-gap: 1px;
    /* Optional gap between items */
}


#avatar1,
#avatar2,
#avatar3,
#avatar4,
#avatar5,
#avatar6,
#avatar7,
#avatar8,
#avatar9,
#avatarA,
#avatarB,
#avatarC {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    /* Add a white border for better visibility */
    padding: 3px;
}