#submit-btn{
    display: inline-block;
    outline: none;
    cursor: pointer;
    margin: 20px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    height: 38px;
    min-width: 111px;
    min-height: 38px;
    border: none;
    color: #fff;
    /* background-color: transparent; */
    background-color: rgba(201, 196, 196, 0.5);
    transition: background-color .17s ease, color .17s ease;
}

#submit-btn:hover {
    color: #5c5656;
    background-color: rgb(200, 200, 204);
}

button:disabled,
button[disabled] {
    cursor: not-allowed;
}