@import url('base/colors.css');
@import url('base/typography.css');

@import url('components/buttons.css');
@import url('components/text.css');
@import url('components/keyframes.css');

@import url('layouts/side-nav.css');

html{
    overflow-x: hidden;
}

body{
    background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
}

.star {
    position: absolute;
    width: 1.5px;
    height: 1.5px;
    background: #fff;
    opacity: 0.8;
    animation: twinkle linear infinite;
}