body {
    margin: 0;
    padding: 0;   
}

.main-container {
    height: 100vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff; /* Adjust the background color as needed */
}

.top-panel, .bottom-panel{
    border: 2px solid #E4DFDF;
    box-sizing: border-box;
    border-radius: 20px; /* Adjust the border-radius as needed */
    margin: 5px; /* Add margin as needed */
}

.top-panel {
    flex: 1;
    background-color: #ffffff;
    padding: 2px;
    display: flex;
}

.bottom-panel {
    flex: 9; /* Adjusted to 4 for 80% of the height */
    background-color: #e7e6e6;
    padding: 5px;
    display: flex;
}

.top-panel-left, .top-panel-middle, .top-panel-right {
    /* border: 2px solid #991919; */
    box-sizing: border-box;
}

.top-panel-left {
    display: flex;
    width: 15%;
    text-align: center;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.top-panel-middle {
    text-align: center;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    flex: 1;
    width: 50%;
    display: flex;
}

.top-panel-right {
    text-align: center;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: 35%;
    display: flex;
}

.top-panel-right-first, .top-panel-right-second, .top-panel-right-third,
.top-panel-right-fourth  {
    text-align: center;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}


.top-panel-right-first {
    width: 55%;
    display: flex;
}

.top-panel-right-second {
    width: 15%;
}

.top-panel-right-third {
    width: 15%;
}

.top-panel-right-fourth {
    width: 15%;
}

.top-panel-right-first-left {
    
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: 40%;
}

.top-panel-right-first-right {
    text-align: center;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: 60%;
}


#profileContainer {
    text-align: center;
}


#profileImage {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff; 
}

.top-panel-middle-search-form {
    width: 80%;
}

.top-panel-middle-search-icon {
    width: 10%;
}

.top-panel-middle-search-icon:hover {
    cursor: pointer;
}

.top-panel-middle-search-form form {
    display: flex;
    flex-direction: column;
}

.top-panel-middle-search-form a {
    color: #8a8686;
    font-size: 13px;
    margin: 0 10px;
    text-decoration: none;
}

.top-panel-middle-search-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Adjust the border-radius value to your preference */
}

.top-panel-left a{
    color: #868484;
    font-size: 24px;
    text-decoration: none;
}


.top-panel-right-fourth:hover {
    cursor: pointer; 
}

.bottom-side-panel, .bottom-main-panel, .bottom-friend-panel{
    border: 2px solid #E4DFDF;
    box-sizing: border-box;
    border-radius: 20px; /* Adjust the border-radius as needed */
    margin: 5px; /* Add margin as needed */
}

.bottom-side-panel {
    background-color: #ffffff;
    width: 15%;
    display: flex;
    flex-direction: column;
}

.bottom-main-panel {
    background-color: #ffffff;
    width: 60%;
}

.bottom-friend-panel{
    background-color: #ffffff;
    width: 25%;
}


.bottom-side-panel-top, .bottom-side-panel-bottom {
    flex: 1;
    background-color: #ffffff;
    border: 2px solid #E4DFDF;
    box-sizing: border-box;
    border-radius: 20px; /* Adjust the border-radius as needed */
    margin: 5px; /* Add margin as needed */
    display: flex;
    flex-direction: column;
}

.bottom-side-panel-top-home, .bottom-side-panel-top-profile,
.bottom-side-panel-top-friends, .bottom-side-panel-top-messages {
    flex: 1;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 15px; /* Adjust the border-radius as needed */
    margin: 5px; /* Add margin as needed */
    display: flex;
}

.bottom-side-panel-top-home:hover, .bottom-side-panel-top-profile:hover,
.bottom-side-panel-top-friends:hover, .bottom-side-panel-top-messages:hover {
    cursor: pointer; 
    background-color: #c0c0c0;
}

.bottom-side-panel-top-home{
    background-color: #c0c0c0;
}

.bottom-side-panel-top-icon{
    text-align: center;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: 10%;
    display: flex;
    flex-direction: column;
}

.bottom-side-panel-top-text {
    text-align: center;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: 90%;
    display: flex;
    flex-direction: column;
}
