.main-btn, .buttonElement {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    height: 38px;
    min-width: 111px;
    min-height: 38px;
    border: none;
    color: #fff;
    background-color: rgb(132, 132, 134);
    transition: background-color .17s ease, color .17s ease;
}

.main-btn:hover,.buttonElement:hover {
    color: #5c5656;
    background-color: rgb(200, 200, 204);
}

button:disabled,
button[disabled] {
    cursor: not-allowed;
}