@import url(../layout/header.css);
@import url(../layout/nav.css);
@import url(../layout/notification.css);
@import url(../components/scrollbar/scrollbar.css);
@import url(../views/profileView.css);
@import url(../views/followView.css);
@import url(../components/buttons/buttons.css);

.main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 55px;
    z-index: 1;
}

.main {
    height: calc(100vh - 70px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px 30px 30px 30px;
}


